<div class="form-area">
  <h1>Post Form</h1>
  <br>
  <br>
  <input type="text" placeholder="Post Title" [(ngModel)]="postTitle">
  <br>
  <br>
  <textarea placeholder="Post Details" rows="10" cols="30"  [(ngModel)]="postDetails"></textarea>
  <br>
  <br>
  <input type="text" placeholder="Post Image URL"  [(ngModel)]="imageUrl">
  <br>
  <br>
  <input type="text" placeholder="Post URL"  [(ngModel)]="postUrl">
  <br>
  <br>
  <input type="checkbox"  [(ngModel)]="addBackground"> Add Background
</div>

<div class="preview-area">
  <img [src]="imageUrl" alt="">
  <h1 [class.add-background]="addBackground">{{postTitle}}</h1>
  <p>{{postDetails}}</p>
  <a [href]="postUrl" target="_blank" [style.display]="postUrl?'block' : 'none' ">Text more details</a>
</div>